.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #4370B7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding-bottom: 0px;
  background-color: transparent;
}

.weather-card {
  background-color: #96B5E5;
  color: #333;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.weather-card h2 {
  margin: 0;
  font-size: 20px;
}

.weather-header {
  align-items: center;
  justify-content: space-between;
}


.weather-content{
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #96B5E5;
}

.flag-icon {
  width: 50px;
  border-radius: 5px;
}

.weather-icon {
  width: 40px;
  height: 40px;
}

.weather-card p {
  margin: 0px 0;
  font-size: 15px;
  background-color: #96B5E5;
}

strong {
  font-weight: bold;
  background-color: #96B5E5;
}


a{
  color: #121212;
  text-decoration-thickness: 1px;
}

#editData{
  background-color: #4370B7;
  font-size: 20px;
}

#editData:hover{
  color: #ffffff;
}

h1{
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

h2{
  background-color: #96B5E5;
}

h3{
  width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0px;
  font-weight: 300;
}

img{
  width: 60px;
  height: 60px;
}
